# library folder
/node_modules
# post compilled typescript folder
/dist
# dotenv files
.env.json
.env.local.json
.env.dev.json
.env.testing.json
.env.production.json
# Webpack
.webpack
# DS Store
.DS_Store
# serverless files
.serverless
# tmp files
/tmp
# NYC Outputs
.nyc_output
