name: CI-backend

on:
  push:
    branches: [develop, testing, master]
    paths:
      - backend/**

env:
  node_version: 18
  base_folder: backend

jobs:
  Deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js v${{ env.node_version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.node_version }}
          cache: 'npm'
          cache-dependency-path: ${{ env.base_folder }}/package-lock.json

      - name: Install NPM dependencies
        run: |
          if [ ! -d ./node_modules ]; then
            cd ${{ env.base_folder }}
            npm i
          fi

      - name: Setup AWS Credentials
        run: |
          npx serverless config credentials \
          --provider aws \
          --key ${{ secrets.AWS_ACCESS_KEY_ID }} \
          --secret ${{ secrets.AWS_SECRET_ACCESS_KEY }} \
          --overwrite

      - name: Deploy
        run: |
          cd ${{ env.base_folder }} && \
          npm run deploy -- \
          --stage=$(echo '{ "develop": "dev", "testing": "testing", "master": "production" }' | jq -r 'to_entries[] | select(.key=="${{ github.ref_name }}") | .value')